$def with ()

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>JLink</title>
        <link rel="stylesheet" type="text/css" href="/static/statusbar.css"/>    
        <script type="text/Javascript" src="/static/jquery-1.4.2.min.js" ></script>
        <script type="text/JavaScript" src="/static/statusbar.js" ></script>
   </head>
    
    <body class="gui">
      <div id="wrapper">
         <div id="content">
            <div id="header">

               <div id="si_lan"></div>
               <div id="si_wifi"></div>
               <div id="si_uhf_tx"></div>
               <div id="si_uhf_rx"></div>
               <div id="si_gsm"></div>
               <div id="si_bt"></div>
               <div id="si_gps"></div>
               <div id="si_bat"></div>
               <div id="logo"></div>
            </div>
         </div>
      </div>
   </body>    
</html>

